@import "./colors.css";

* {
  background: transparent;
  border: none;
  border-radius: 8px;
  font-family: "ComicCodeLigatures Nerd Font";
  font-size: 13px;
  margin-top: 1px;
  color: white;
}

@keyframes blink {
  to {
    background-color: alpha(red, 0.6);
    color: @foreground;
  }
}
@keyframes blink-blue {
  to {
    background-color: alpha(#7AA2F7, 0.6);
    color: @foreground;
  }
}

#tray, 
#tray menu, 
#clock,
#custom-colorpicker, 
#custom-updates, 
#custom-weather, 
#custom-notifications, 
#custom-camera, 
#custom-github, 
#idle_inhibitor, 
tooltip,
#battery,
#network,
#backlight,
#memory,
#disk,
#bluetooth,
#custom-batterysaver, 
#gamemode,
#pulseaudio,
#cpu,
#custom-cputemp,
#custom-dinfo,
#workspaces,
#window {
  background: shade(alpha(@background,.8),.5);
  padding: 0px 8px;
}

/* Right side margin */
#custom-weather,
#idle_inhibitor,
#backlight,
#network,
#bluetooth,
#pulseaudio {
  margin-right: 2px;
}

/* Left side margin */
#battery,
#custom-dinfo,
#cpu,
#memory {
  margin-left: 2px;
}

/* Right Border flat */
#custom-colorpicker,
#custom-dinfo,
#cpu,
#pulseaudio.mic,
#memory {
  border-radius: 8px 0 0 8px;
}

/* Left Border flat */
#disk,
#workspaces,
#custom-cputemp,
#custom-batterysaver,
#pulseaudio,
#idle_inhibitor {
  border-radius: 0 8px 8px 0;
}

 /* TOP {{{ */

#custom-notifications,
#custom-github,
#custom-updates,
#gamemode,
#custom-camera {
  border-radius: 0px;
  padding:0 6px;
}

#window{
  padding: 0px 16px;
}

#tray, #tray menu{
  margin: 0 2px;
}

#custom-colorpicker {
  padding: 0px 6px 0 8px;
}

#custom-updates {
  color: #a6da95;
}

#idle_inhibitor {
  padding: 0 10px 0 6px;
}

/* #idle_inhibitor.activated, */
#tray > .needs-attention {
  background: shade(alpha(@foreground,.8),.5);
  color: shade(@background,.5);
}

#workspaces button{
  padding: 0 4px;
  margin: 0;
}
#workspaces button.urgent{
  background: @foreground;
  color: @background;
}
#workspaces button.active{
  background: @active;
}

/* }}} */

 /* Bottom {{{ */

#battery {
  border-radius: 8px 0 0 8px;
  color: #8bd5ca;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
  animation-name: blink-blue;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth {
  color: #fab387;
}

#battery.charging,
#network.disconnected {
  background: alpha(@active, 0.6);
  color: @background;
}

#custom-batterysaver.powersave {
  color: #a6e3a1;
}
#custom-batterysaver.default {
  color: #7AA2F7;
}
#custom-batterysaver.performance {
  color: #D78787;
}

#backlight {
  color: #D78787;
  /* color: @active; */
}

#pulseaudio{
  color: #7AA2F7;
}

#pulseaudio.mic {
  margin: 0;
  color: #CCA0E4;
}

#network{
  color: #a6e3a1;
}

#disk{
  color: #fab387;
}

#memory {
  color: #f2cdcd;
}

#cpu {
  color:#A784DB;
}

/* }}} */
