@import "./config.rasi"

@theme "/dev/null"
@import "../themes/colors.rasi"
@import "../menu-conf.rasi"

window {
  location: north east;
  width: 10%;
  x-offset: -12%;
  y-offset: 0;
  height: 6em;
}
box {
  padding: 0px;
  spacing: 0.1em;
  children: [ listview ];
}

listview, element, element selected, element-text, element-icon {
  padding: 4px;
}
