@import './colors.css';
* {
  background: none;
  border: none;
  border-radius: 0;
  font-family: 'Comic Code Ligatures Nerd Font';
  font-size: 13px;
  min-height: 0;
  padding: 0px 5px;
}

window#waybar {
  /* background: transparent; */
  background: alpha(@background, 0.2);
  color: @foreground;
  border-radius: 5px;
  border: solid 2px alpha(@active, 0.6);
}

tooltip {
  background: alpha(@active, 0.9);
  border-radius: 10px;
  padding: 1px 5px 2px 5px;
  margin: 0px;
}

#window {
  font-family: inherit;
  border-radius: 20px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
}

#workspaces {
  /* padding: 0 5px; */
  font-weight: bold;
}

#workspaces button {
  /* padding: 0 5px; */
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #c9545d;
  border-top: 2px solid #c9545d;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
  /* padding: 0 3px; */
  margin: 0 2px;
}

#clock {
  font-weight: bold;
}

#battery,
#custom-batterysaver {
  color: @color6;
}

#battery icon {
  color: red;
}

#battery.charging {
  background: alpha(@color6, 0.6);
  color: @background;
  border-radius: 13px;
}

@keyframes blink {
  to {
    background-color: alpha(red, 0.6);
    color: @foreground;
  }
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  color: @foreground;
  background: @background;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 13px;
}

#cpu {
}

#memory {
}

#network {
  font-weight: 800;
}

#network.wifi,
#network.ethernet {
  color: @color6;
}

#network.disconnected {
  color: alpha(#f53c3c, 0.7);
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#custom-notifications {
  color: @foreground;
}

#tray menu {
  background: alpha(darker(@active), 0.99);
  border-radius: 10px;
  border: 1px solid @background;
}

#bluetooth {
  font-weight: 800;
  /* padding: 0 4px; */
}

#bluetooth.on,
#bluetooth.off {
  color: @color6;
  font-weight: 800;
}

#bluetooth.discoverable {
  color: @foreground;
  background: @background;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 13px;
}

#bluetooth.connected {
  color: @color6;
}

#idle_inhibitor {
  font-weight: 800;
  /* padding: 0px 4px; */
  color: @foreground;
}
